* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html, body {
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #212427;
}

.grid-container {

  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  width: 220px;

}

.grid-item {
  text-align: center;
  font-size: 1vw;
  color:#CACACA;
  background-color: #282C31;  
  border: 1px solid #4D4D4D;
  border-radius: 13px;
  padding-top: 100%; /* 1:1 Aspect Ratio */
}
@media screen and (min-width: 220px) {
  .grid-container {
  grid-template-columns: auto;
  width: 100vw;
  }
}

@media screen and (min-width: 439px) {
  .grid-container {
  grid-template-columns: 1fr 1fr ;
  }
}

@media screen and (min-width: 890px) {
  .grid-container {
  grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1280px) {
  .grid-container {
  width: 1280px;
  }
}